body {
  display: flex;
  flex-direction: column;
  align-items: center;　

 }

 #ask{
   display: block;
   width:100% ;
   height:50px;
   background-color: blue;
   text-align:center;
   font-size:30px;
   margin-top:0;
   padding-top:10px;
 }

#a {
  margin-right:15px ;

}

#b {
  margin-right:60px ;
}
